/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

/* Encabezado */
h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos para los filtros */
.filters {
    text-align: center;
    margin-bottom: 20px;
}

.filters input {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para la tabla */
.styled-table {
    width: 100%; /* La tabla ocupa el 100% del ancho disponible */
    border-collapse: collapse; /* Evita espacios entre los bordes de las celdas */
    table-layout: auto; /* Permite que las columnas se ajusten automáticamente según el contenido */
    margin: 25px 0;
    font-size: 1.2em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.styled-table thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: left; /* Asegura que el texto de las cabeceras también esté alineado */
    width: auto; /* Permite que las cabeceras ajusten su tamaño según el contenido */
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .filters input {
        width: 100%;
        margin: 5px 0;
    }
}
